@import "src/@noctua/scss/noctua";
@import "src/@noctua.common/scss/noctua.common";

:host {
  width: 100%;

  .noc-sidenav {
    width: 200px;

    .noc-nav-button {
      padding: 0 12px;
      @include deep-height(50px);
      border-bottom: #CCC solid 1px;

      &.noc-selected {
        background-color: #DDD;
        font-weight: bold;
      }
    }

    .phtr-menu-section {
      width: 100%;
    }
  }
}

.noc-search-form {
  padding: 15px;
  @include deep-width(500px);
}
