@import "src/@noctua/scss/noctua";
@import "src/@noctua.common/scss/noctua.common";

$primary: map-get($theme, primary);
$accent: map-get($theme, accent);

:host {
  .noc-table-menu-row {
    height: 60px;
  }

  .mat-cell {
    padding: 0 10px;
    font-size: 12px !important;
    color: #000;
  }

  .mat-header-cell {
    padding: 0 10px;
    font-size: 10px !important;
    color: map-get($primary, default);
    font-weight: bold;
  }

  .mat-header-cell,
  .mat-header-row {
    //padding: 0;
    min-height: 40px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1001;
    background-color: $noc-primary-color-light;
    // font-size: 3px !important;
  }

  /*unnecessary to make table header fixed*/
  .mat-header-row {
    top: 0;
    position: sticky;
    z-index: 1;
    background-color: inherit;
    text-align: center;
  }

  .noc-loading-container {
    background-color: rgba(#555, 0.4);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1000;
  }


  .noc-form-section {
    width: 100%;
    background-color: #FFF;

    input[type="file"] {
      display: none;
    }

    .noc-section-header {
      height: 30px;
      background-color: $noc-primary-color-light;

      .noc-section-heading {
        padding-left: 8px;
        font-size: 12px;
        line-height: 40px;
        color: #555;
      }

      .noc-action-button {
        margin: 0px;
        height: 40px; // line-height: 36px;
      }
    }

    .noc-section-body {
      padding: 5px 5px;
    }
  }
}
