<div class="w-100-p h-100-p noc-drawer" fxLayout="column" fxLayoutAlign="start streych">
  <div class="noc-drawer-header" fxLayout="row" fxLayoutAlign="start center">
    <div class="noc-section-heading">
      <div *ngIf="gene">
        <span>
          <small>Uniprot Id:</small> {{gene.uniprotId}}
          <small>Contig:</small> {{gene.contig}}
          <small>Start:</small> {{gene.start}}
          <small>End:</small> {{gene.end}}
        </span>
      </div>
    </div>
    <span fxFlex></span>
    <button mat-raised-button color="primary" class="noc-rounded-button noc-sm" (click)="download()">
      Download
    </button>
  </div>
  <div *ngIf="snpService.loading" class="noc-loading-container" fxLayout="column" fxLayoutAlign="center center">
    <mat-progress-spinner class="example-margin" [color]="loadingSpinner.color" [mode]="loadingSpinner.mode">
    </mat-progress-spinner>
  </div>
  <div class="noc-drawer-body" fxLayout="column" fxLayoutAlign="start stretch" noctuaPerfectScrollbar>
    <table fxFlex="1 1 auto" mat-table [dataSource]="genes" class="">
      <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
        <th mat-header-cell *matHeaderCellDef> {{column}} </th>
        <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <mat-paginator class="noc-paginator noc-drawer-footer" #paginator [length]="page.totalElements"
    [pageIndex]="page.pageNumber" [pageSize]="page.size" (page)="pageEvent = $event; setPage($event)">
  </mat-paginator>
</div>
