<div fxLayout="column" fxLayoutAlign="start stretch" class="noc-drawer w-100-p h-100-p">
  <div class="noc-drawer-header" fxLayout="row" fxLayoutAlign="start center">
    <span class="noc-drawer-header-title">
      Selected Row</span>
    <span fxFlex></span>
    <button mat-stroked-button (click)="close()" class="noc-rounded-button noc-sm" color="primary"
      aria-label="Close dialog">
      <mat-icon>close</mat-icon> Close
    </button>
  </div>
  <div class="noc-drawer-body" fxLayout="row" fxLayoutAlign="start start" noctuaPerfectScrollbar>
    <div class="w-100-p" fxLayout="column" fxLayoutAlign="start stretch">
      <div class="ann-snp-detail-row" *ngFor="let item of snpRow | keyvalue" fxLayout="row" fxLayoutAlign="start start">
        <div class="ann-title" fxFlex="30%">
          <div class="text-truncate">
            {{item.key}}
          </div>
        </div>
        <div class="ann-description" fxFlex="70%">
          {{item.value}}
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" class="noc-drawer-footer noc-submit-row">
    <span fxFlex></span>
    <button (click)='close()' type="button" mat-raised-button color="" class="mr-8">Close</button>
  </div>
</div>
