<div class="h-100-p">

  <div class="noc-form-section" fxLayout="column" fxLayoutAlign="start stretch">
    <div class="noc-section-header" fxLayout="row" fxLayoutAlign="start center">
      <div class="noc-section-heading">
        Configuration
      </div>
      <span fxFlex></span>
    </div>
    <div class="noc-section-body" fxLayout="column" fxLayoutAlign="start stretch">
      <form class="w-100-p" fxLayout="row" fxLayoutAlign="start center">
        <mat-form-field class="mr-4" fxFlex="50">
          <input matInput placeholder="Chr">
        </mat-form-field>
        <mat-form-field class=mr-4 fxFlex="25">
          <input matInput placeholder="Start">
        </mat-form-field>
        <mat-form-field class="example-full-width" fxFlex="25">
          <input matInput placeholder="End">
        </mat-form-field>
      </form>
    </div>
  </div>
  <div class="noc-form-section" fxLayout="column" fxLayoutAlign="start stretch">
    <div class="noc-section-header" fxLayout="row" fxLayoutAlign="start center">
      <div class="noc-section-heading">
        Select Annotations
      </div>
      <span fxFlex></span>
    </div>
    <div class="noc-section-body" fxLayout="column" fxLayoutAlign="start stretch">
      <noc-annotation-tree class="h-100-p w-100-p"></noc-annotation-tree>
    </div>
  </div>
</div>
