<div class="h-100-p">
  <div class="noc-form-section" fxLayout="column" fxLayoutAlign="start stretch">
    <div class="noc-section-header" fxLayout="row" fxLayoutAlign="start center">
      <div class="noc-section-heading">
        Configuration
      </div>
      <span fxFlex></span>
    </div>
    <div class="noc-section-body" fxLayout="column" fxLayoutAlign="start stretch">
      <form class="w-100-p" fxLayout="row" fxLayoutAlign="start center" name="annotationForm" [formGroup]="annotationForm">
        <mat-form-field class="mr-4" fxFlex="50">
          <mat-label>Chr</mat-label>
          <input matInput formControlName="chrom" placeholder="Chromosome" />
        </mat-form-field>
        <mat-form-field class=mr-4 fxFlex="25">
          <mat-label>Start</mat-label>
          <input matInput formControlName="start" placeholder="Start">
        </mat-form-field>
        <mat-form-field class="example-full-width" fxFlex="25">
          <mat-label>End</mat-label>
          <input matInput formControlName="end" placeholder="End">
        </mat-form-field>
      </form>
    </div>
  </div>
  <div class="noc-form-section" fxLayout="column" fxLayoutAlign="start stretch">
    <div class="noc-section-header" fxLayout="row" fxLayoutAlign="start center">
      <div class="noc-section-heading">
        Select Annotations
      </div>
      <span fxFlex></span>
    </div>
    <div class="noc-section-body" fxLayout="column" fxLayoutAlign="start stretch">
      <noc-annotation-tree [checklistSelection]="checklistSelection" class="h-100-p w-100-p"></noc-annotation-tree>
    </div>
  </div>

  <div class="w-100-p" fxLayout="row" fxLayoutAlign="start center">
    <button (click)='clear()' type="button" mat-raised-button color="" class="mr-8">Clear</button>
    <button (click)="submit()" type="button" mat-raised-button color="primary">Submit</button>
  </div>
</div>
