<form class="noc-form-section h-100-p w-100-p" fxLayout="column" fxLayoutAlign="start stretch" name="annotationForm"
  [formGroup]="annotationForm">
  <div class="noc-section-header" fxLayout="row" fxLayoutAlign="start center">
    <div class="noc-section-heading">
      Configuration
    </div>
    <span fxFlex></span>
    <button mat-button class="noc-action-button" [matMenuTriggerFor]="configurationMenu">
      CHANGE
    </button>
    <mat-menu #configurationMenu="matMenu" class="noc-dropdown-menu">
      <button mat-menu-item *ngFor="let inputType of snpService.inputTypes.options" class=""
        (click)="snpService.selectInputType(inputType)">
        {{inputType.label}}
      </button>
    </mat-menu>
  </div>
  <div [ngSwitch]="snpService.inputTypes.selected.id" class="noc-section-body" fxLayout="column"
    fxLayoutAlign="start stretch">
    <div class="" *ngSwitchCase="snpService.inputType.chromosome.id">
      <mat-form-field class="w-100-p">
        <mat-label>Chromosome</mat-label>
        <input matInput formControlName="chrom" placeholder="Chromosome" />
      </mat-form-field>
      <div class="noc-section-header" fxLayout="row" fxLayoutAlign="start center">
        <div class="noc-section-heading">
          Position
        </div>
        <span fxFlex></span>
        <mat-checkbox class="" color="primary" formControlName="all">All</mat-checkbox>
      </div>
      <div class="noc-section-body" fxLayout="row" fxLayoutAlign="start center">
        <mat-form-field class=mr-4 fxFlex="50">
          <mat-label>Start</mat-label>
          <input matInput formControlName="start" placeholder="Start">
        </mat-form-field>
        <mat-form-field class="example-full-width" fxFlex="50">
          <mat-label>End</mat-label>
          <input matInput formControlName="end" placeholder="End">
        </mat-form-field>
      </div>
    </div>
    <div class="" *ngSwitchCase="snpService.inputType.geneProduct.id">
      <mat-form-field class="w-100-p">
        <mat-label>Gene Product</mat-label>
        <input matInput formControlName="geneProduct" placeholder="Gene Product" />
      </mat-form-field>
    </div>
    <div class="" *ngSwitchCase="snpService.inputType.rsID.id">
      <mat-form-field class="w-100-p">
        <mat-label>rsID</mat-label>
        <input matInput formControlName="rsID" placeholder="rsID" />
      </mat-form-field>
    </div>
    <div class="" *ngSwitchCase="snpService.inputType.chromosomeList.id">
      <div [formGroupName]="'uploadList'" fxLayout="column" fxLayoutAlign="start stretch" class="">
        <div fxLayout="row" fxLayoutAlign="start center" class="pthr-file-upload-header">
          <span fxFlex=""></span>
          <label for="noc-upload-snp-browse" fxLayout="row" fxLayoutAlign="start center" class="pthr-file-upload">
            <button mat-stroked-button class="pthr-file-button">
              <mat-icon class="s-16 mr-4">cloud_upload</mat-icon> Populate from a FIle
            </button>
          </label>
          <input type="file" id="noc-upload-snp-browse" formControlName="browse" (change)="onFileChange($event)"
            class="pthr-file-upload" />
          <button mat-stroked-button>Clear</button>
        </div>
        <mat-form-field class="mr-8 w-100-p" appearance="outline">
          <textarea matInput formControlName="ids" placeholder="Enter IDs" rows="5"></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="noc-section-header" fxLayout="row" fxLayoutAlign="start center">
    <div class="noc-section-heading">
      Select Annotations
    </div>
    <span fxFlex></span>
  </div>
  <div class="noc-form-section" fxFlex="" fxLayout="column" fxLayoutAlign="start stretch" noctuaPerfectScrollbar>
    <div class="noc-section-body" fxLayout="column" fxLayoutAlign="start stretch">
      <noc-annotation-tree [checklistSelection]="checklistSelection" class="h-100-p w-100-p"></noc-annotation-tree>
    </div>
  </div>
  <div class="w-100-p p-8" fxFlex="60px" fxLayout="row" fxLayoutAlign="start center">
    <span fxFlex></span>
    <button (click)='downloadConfig()' type="button" mat-raised-button color="" class="mr-8">Export Config</button>
    <button (click)='clear()' type="button" mat-raised-button color="" class="mr-8">Clear</button>
    <button (click)="submit()" type="button" mat-raised-button color="primary">Submit</button>
  </div>
</form>
