@import "src/@noctua/scss/noctua";
@import "src/@noctua.common/scss/noctua.common";

:host {
  width: 100%; // display: block;
  background-color: white;
  @include mat-elevation(4);

  .noc-header {
    @include deep-height(35px);
    background-color: #EEE;
    border-bottom: #CCC solid 1px;

    mat-icon-button {
      @include deep-height(35px);
      @include deep-width(35px);
      line-height: 35px;
    }

    .noc-title {
      font-size: 10px;
      padding: 0 14px;
    }
  }

  .noc-body {
    padding: 0 14px 14px 14px;
  }

  .noc-form-section {
    width: 100%;
    background-color: #FFF;

    input[type="file"] {
      display: none;
    }

    .pthr-file-upload-header {
      height: 35px;

      button {
        @include deep-height(35px);

        &.pthr-file-button {
          pointer-events: none;
        }
      }

      label {
        padding: 0;
      }

      .pthr-file-upload-title {
        margin-left: 4px;
        color: #888;
        font-weight: bold;
      }
    }

    .noc-section-header {
      height: 30px;
      background-color: $noc-primary-color-light;

      .noc-section-heading {
        padding-left: 8px;
        font-size: 12px;
        line-height: 40px;
        color: #555;
      }

      .noc-action-button {
        margin: 0px;
        height: 40px; // line-height: 36px;
      }
    }

    .noc-section-body {
      padding: 5px 5px;
    }
  }

}
